<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Show Message</title>
</head>

<body>
    <h1>BD BattleRecord Management SYSTEM</h1>
    <p>
        <%= message %>
    </p>

    <a href="/">to TopPage</a><br>
    <a href="/list">to Battle Record</a><br>

</body>

</html>
